/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kranky&display=swap');

/*all elements*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/*body*/
body {
    min-height: 100vh;
    background-image: url('../images/jungle.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /*classes for body background image change*/
.savannah-add {
    background-image: url('../images/savannah.webp');
  }

.forest-add {
    background-image: url('../images/forest.webp');
}  

.meadow-add {
    background-image: url('../images/meadow.webp');
}

 /*headings and paragraph style defaults*/
h2, h3 {
    font-family: kranky;
    color: white;
  }

p {
    font-family: Indie Flower;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #08e8de;
    padding: 0.2rem;
  }

/*button and image style defaults*/
button {
    border: solid white;
    border-radius: 10px;
    color: #803790;
    font-family: Indie Flower;
    font-weight: 800;
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    margin: 0.5rem;
  }  

  img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

  /*header with logo and title*/
header {
    background-color: rgba(0, 70, 140, 0.8);
    max-width: 85%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: 25px;    
}

#logo {
    width: 50%;
    padding-top: 1rem;
}

#title {
    padding: 0.5rem 1rem 1rem;
    color: #66ff00;
    font-size: 1.1rem;
    font-family: kranky;
}

/*question section*/
#question-section {
    background-color: rgba(8, 232, 222, 0.9);
    margin: 10% auto 0;
    width: fit-content;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
}

#answer {
    color: #00468c;
    text-decoration: underline;
}

#question {
    color: black;
}

#wrong {
    display: none;
    color: #000000;
}

#yes:hover {
    cursor: pointer;
    color: black;
    background-color: #66ff00;
}

#no:hover {
    cursor: pointer;
    color: black;
    background-color: #fd0e35;
}

/*Rules section and destination selection buttons*/
#rules {
    background-color: rgba(128,55,144, 0.9);
    margin: 10% auto 0;
    width: fit-content;
    max-width: 80%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;  
}

#destination-buttons {
    display: flex;
    flex-direction: column;
}


#savannah {
    background-color: #ffa500;
    color: black;
}

#forest {
    background-color: #013220;
    color: white;
}

#meadow {
    background-color: #ffee00;
    color: black;
}

#savannah:hover {
    cursor: pointer;
    background-color: black;
    color: #ffa500;
}

#forest:hover {
    cursor: pointer;
    background-color: white;
    color: #013220;
}

#meadow:hover {
    cursor: pointer;
    background-color: black;
    color: #ffee00;
}
 
/*game area*/
/*animal choice area*/
#game-container{
    display: none;
}

#choice-container {
    width: 80%;
    background-color: rgba(102,255,0, 0.7);
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#make-choice {
    padding: 2%;
    color:rgba(0, 70, 140, 1);
    font-family: Indie Flower;
}

#image-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.animals {
    width: 30%;
    margin: 0.25rem;
}

.animals:hover {
    cursor: pointer;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
}

/*score area*/
#result-container {
    margin: 5% 0 0;
}
#scores-container {
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

#your-score-container {
    background-color: rgba(255,255,255,0.6);
    width: 40%;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer-score-container {
    background-color: rgba(255,255,255, 0.6);
    width: 40%;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-p {
    color:#00468c;
    margin: 0.5rem;
}

#your-score, #computer-score {
    font-size: 1.75rem;
    color: black;
}

.choice-span {
    width: 80%;
}

#result {
    background-color: rgba(128,55,144, 0.8);
    color: #ffffff;
    width: fit-content;
    margin: 5% auto 0;
    border-radius: 10px;
    padding: 0.75rem;
}

/*Winner and loser classes*/
.win {
    opacity: 1;
    background-color: rgba(102,255,0, 0.8);
    border-radius: 25px;
}

.lose {
    opacity: 0.7;
    background-color: rgba(253,14,53, 0.8);
    border-radius: 25px;
}

/*Results area*/
/*winner area*/
#results-area-winner {
    background-color: rgba(252,116,253, 0.9);
    background-image: url(../images/celebrate.gif);
    background-size: cover;
    margin: 10% auto 0;
    width: fit-content;
    max-width: 75%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
}

#winner {
    background-color: #803790;
    padding: 1rem;
    border-radius: 25px;
}

#results-area-winner p {
    color: #000000;
}

#play-again-winner:hover {
    cursor: pointer;
    background-color: #803790;
    color: #66ff00;
}

/*loser area*/
#results-area-loser {
    background-color: rgba(253,14,53, 0.8);
    margin: 10% auto 0;
    width: fit-content;
    max-width: 75%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
}
#loser {
    background-color: #000000;
    padding: 1rem;
    border-radius: 25px;
}

#results-area-loser p {
    color: #000000;
}

#play-again-loser{
    background-color: #000000;
    color: #66ff00;
}

#play-again-loser:hover {
    cursor: pointer;
    background-color: #66ff00;
    color: #000000;
}

/*media query min 600px*/
@media (min-width: 600px) {
    h2, h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
    #title {
        font-size: 1.75rem;
    }
    #destination-buttons {
        display: flex;
        flex-direction: row;
    }
    #make-choice {
        font-size: 1.5rem;
    }
    #result {
        font-size: 1.5rem;
    }
    .score-p {
       font-size: 1.75rem;
    }    
    #your-score, #computer-score {
        font-size: 2.25rem;
    }
}

/*media query min 1024px*/
@media (min-width: 1024px){
    h2, h3 {
        font-size: 2.5rem;
    }
    p {
        font-size: 2rem;
    }
    button {
        font-size: 2rem;
        padding: 0.75re 1rem;
    }
    #title {
        font-size: 2.5rem;
    }
    #rules {
        margin: 5% auto 0;
    }
    #make-choice {
        font-size: 2rem;
    }
    #large-screen-container{
        display: flex;
        align-items: center;
        margin: 0 2rem;
    }
    #scores-container {
        flex-direction: row;
        margin: 0;
        gap: 0;
    }
    #computer-score-container {
        margin: 0;
    }
    #result {
        font-size: 2rem;
    }
    .score-p {
        font-size: 2rem;
    }
    #your-score, #computer-score {
        font-size: 2.5rem;
    }
    #results-area-winner {
        margin: 5% auto 0;
    }
    #results-area-loser {
        margin: 5% auto 0;
    }
}